body {
    margin: 0;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
}

.wrapper .player {
    display: flex;
}

.player .player-menu {
    display: flex;
    flex-direction: column;
    background-color: #1F95EE;
    color: white;
    padding: 25px;
    gap: 30px 0;
    justify-content: space-evenly;
}

.player .player-menu a {
    color: white;
}

.player .player-menu .player-menu__redirect {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}
.player .player-menu .player-menu__logout {
    display: flex;
}
.player .player-menu .player-menu__redirect a img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}
.player .player-menu .player-menu__redirect a:hover,
.player .player-menu .player-menu__logout a:hover
{
    transform: scale(2);
    transition: 0.2s linear;
}

.player .player-info__wrapper {
    display: flex;
    flex: 1;
    background-color: #F5F9FF;
}

.player .player-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px 40px;
}

.player-info .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.player-info .header .title {
    display: flex;
    gap: 0 20px;
    align-items: center;
}

.player-info .header .title p {
    margin: 0;
}

.player-info .header .title .title-image img {
    height: 50px;
    width: 50px;
}

.player-info .header .title p {
    font-size: 35px;
    font-weight: bold;
}

.player-info .header .coach {
    display: flex;
    align-items: center;
    gap: 0 20px;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
}
.player-info .header .coach:hover {
    background: white;
    border: 1px solid lavender;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s linear;
}

.player-info .header .coach .coach-image img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.player-info .header .coach p {
    font-weight: bold;
}

.player .player-info .content {
    display: flex;
    gap: 0 20px;
}

.player .player-info .content .content-left {
    background-color: white;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 450px;
    border-radius: 20px;
}

.player .player-info .content .content-left .content-left__info {
    display: flex;
    justify-content: space-between;
}

.player .player-info .content .content-left .content-left__info .infomation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player .player-info .content .content-left .content-left__info .infomation .name {
    font-size: 20px;
    font-weight: bold;
}

.player .player-info .content .content-left .content-left__info .infomation .class,
.player .player-info .content .content-left .content-left__info .infomation .age {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.player .player-info .content .content-left .content-left__info .infomation p {
    margin: 0;
}

.player .player-info .content .content-left .content-left__info .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.player .player-info .content .content-left .content-left__info .avatar .avatar-image img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.player .player-info .content .content-left .content-left__info .avatar .btn-edit {
    padding: 5px 35px;
    background: #FF5D6D;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.player .player-info .content .content-left .content-left__info .avatar .btn-edit:hover {
    background: white;
    border: 1px solid #FF5D6D;
    color: #FF5D6D;
    transition: 0.2s linear;
}

.player .player-info .content .content-left .content-left__chart .line-chart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.player .player-info .content .content-left .content-left__chart .line-chart p {
    font-weight: bold;
}

.player .player-info .content .content-left .content-left__chart .radar-chart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.player .player-info .content .content-left .content-left__chart .radar-chart p {
    font-weight: bold;
}

.player .player-info .content .content-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.player .player-info .content .content-right .content-right__info {
    display: flex;
    gap: 0 20px;
}

.player .player-info .content .content-right .content-right__info .position,
.player .player-info .content .content-right .content-right__info .completion {
    display: flex;
    flex-direction: column;
    width: 20%;
    width: 200px;
    padding: 10px 15px;
    background: white;
    border-radius: 20px;
}

.player .player-info .content .content-right .content-right__info .position .position-title,
.player .player-info .content .content-right .content-right__info .completion .completion-title {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.player .player-info .content .content-right .content-right__info .position .position-title i,
.player .player-info .content .content-right .content-right__info .completion .completion-title i {
    padding: 5px;
    background: #FF5D6D;
    color: white;
    height: 15px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
}

.player .player-info .content .content-right .content-right__info .position .position-title p,
.player .player-info .content .content-right .content-right__info .completion .completion-title p {
    color: #808191;
}

.player .player-info .content .content-right .content-right__info .position .position-value,
.player .player-info .content .content-right .content-right__info .completion .completion-value {
    font-size: 30px;
    border-bottom: 3px solid #1F95EE;
}

.player .player-info .content .content-right .content-right__info .completion {
    display: flex;
    flex-direction: column;
}

.player .player-info .content .content-right .content-right__info .completion .completion-title {
    display: flex;
    align-items: center;
}

.player .player-info .content .content-right .content-right__info .completion .completion-value {}

.player .player-info .content .content-right .content-right__info .coach-trainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 15px;
    background: white;
    border-radius: 20px;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__title {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__title i {
    background: #4467E0;
    color: white;
    text-align: center;
    margin: 0a;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__title .coach-trainer__parameter p {
    margin: 0;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__title .coach-trainer__parameter .coach-trainer__number {
    font-size: 14px;
    color: #8F92A1;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__title .coach-trainer__parameter .coach-trainer__name {
    font-weight: bold;
    font-size: 18px;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__value {
    display: flex;
    gap: 0 10px;
    margin: 40px 0;
    align-items: center;
    justify-content: center;
}

.player .player-info .content .content-right .content-right__info .coach-trainer .coach-trainer__value img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #967a43;
}

.player .player-info .content .content-right .content-right__schedule {
    background-image: url('image/BG-Training.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-carousel__wrapper .schedule-carousel .carousel-item {
    display: flex;
    background: white;
    padding: 20px;
    align-items: center;
    /* width: 550px; */
    justify-content: space-between;
    border-radius: 20px;
    margin: 20px;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-carousel__wrapper .schedule-carousel .carousel-item .carousel-title p {
    margin: 0;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-carousel__wrapper .schedule-carousel .carousel-item .carousel-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-header {
    font-size: 40px;
    font-weight: bolder;
    color: #F53838;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: white;
    font-family: system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-header p {
    margin: 0;
}
.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-carousel__wrapper .schedule-carousel .carousel-item .carousel-title .schedule-name {
    font-weight: bold;
    font-size: 16px;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-carousel__wrapper .schedule-carousel .carousel-item .carousel-title .schedule-teacher {
    font-size: 14px;
    color: #8F92A1;
    background: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    gap: 0 5px;
    border: 1px solid bisque;
}

.player .player-info .content .content-right .content-right__schedule .schedule-wrapper .schedule-carousel__wrapper .schedule-carousel .carousel-item .carousel-image img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

/* SLICK SLIDER */
.slick-slider {
    width: 600px;
}

.slick-track {
    display: flex;
    display: flex;
    padding-bottom: 10px;
}

.slick-dots {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 15px;
    transition: all linear 0.2s;
    /* transform: translateY(-300%); */
    justify-content: center;
    transform: translateX(-15px) translateY(-100%);
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #DDE0E4;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.slick-dots .slick-active button {
    width: 45px;
    background-color: #F53838;
}

.slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    z-index: 1;
    transform: translateY(50%);
}
.slick-arrow:hover {
    background: white;
    transition: 0.2s linear;
}

.slick-prev {
    border: 1px solid brown;
    background-color: #F53838;
    left: -55px;
    cursor: pointer;
}
.slick-prev:hover i {
    color: #F53838 !important;
    transition: 0.2s linear;
}

.slick-next {
    border: 1px solid brown;
    background-color: #F53838;
    right: -55px;
    cursor: pointer;
}
.slick-next:hover i{
    color: #F53838 !important;
    transition: 0.2s linear;
}