<!DOCTYPE html>
<html lang="en">
<head th:include="/admin/index :: head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<div th:replace="/admin/index::aside"></div>
<div class="container-fluid bg-form">
    <div class="row m-4 d-flex">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center ">
                <div class="col-2"></div>
                <div class="col-8 p-3 shadow bo-der shadow-lg rounded-3 my-5 bg-white d-block justify-content-center">
                    <h1 class="mt-2 mb-3 py-2 text-center Text-cloer ">THÊM MỚI ACCOUNT Và HUẤN LUYỆN VIÊN </h1>
                    <form th:action="@{/admin/saveAccountCach}" th:object="${accountForm}" method="post">
                        <div class="row mb-3 divder my-5">
                            <div class="col-4">
                                <label class="Text-cloer form-label Text-cloer">Nhập User name</label>
                            </div>
                            <div class="col-8">
                                <input
                                        type="text"
                                        class="form-control"
                                        aria-describedby="nameError"
                                        th:field="*{accountName}"
                                />
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">
                                </div>
                                <p style="color: red" th:if="${messageErrorUserName} != null"><span th:text="${messageErrorUserName}"></span></p>

                            </div>
                        </div>

                        <div class="row mb-3 divder my-5">
                            <div class="col-4">
                                <label class="Text-cloer form-label Text-cloer">Nhập Password</label>
                            </div>
                            <div class="col-8">
                                <input
                                        type="text"
                                        class="form-control"
                                        aria-describedby="nameError"
                                        th:field="*{password}"
                                />
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                </div>

                            </div>

                        </div>

                        <div class="row mb-3 divder my-5">
                            <div class="col-4">
                                <label class="form-label Text-cloer form-label Text-cloer">Chọn loại
                                    Account
                                    Phù
                                    Hợp: </label>
                            </div>
                            <div class="col-8">
                                <select name="roleId" required>
                                    <option selected disabled value="">----------</option>
                                    <option th:each="acc : ${roleList}" th:if = "${acc.roleId} == 3"
                                            th:value="${acc.roleId}"
                                            th:text="${acc.roleName}"></option>
                                </select>
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}">
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 divder my-5">
                            <div class="col-4">
                                <label class="Text-cloer form-label Text-cloer">Họ Tên Huấn Luyện Viên</label>
                            </div>
                            <div class="col-8">
                                <input
                                        type="text"
                                        class="form-control"
                                        aria-describedby="nameError"
                                        th:field="*{nameCoach}"
                                />
                                <div class="form-text text-danger"
                                     th:if="${#fields.hasErrors('nameCoach')}" th:errors="*{nameCoach}">
                                </div>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="description" class="Text-cloer form-label"> ẢNh Thẻ</label>
                            </div>
                            <div class="col-8">
                                <input
                                        type="file"
                                        class="form-control"
                                        th:field="*{avatar}"
                                        aria-describedby="descriptionError"
                                />
                                <div class="form-text text-danger" th:if="${#fields.hasErrors('avatar')}"
                                     th:errors="*{avatar}"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="description" class="Text-cloer form-label">Địa Chỉ</label>
                            </div>
                            <div class="col-8">
                                <input
                                        type="text"
                                        class="form-control"
                                        th:field="*{address}"
                                        aria-describedby="descriptionError"
                                >

                                <div class="text-danger form-text" th:if="${#fields.hasErrors('address')}"
                                     th:errors="*{address}"></div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-3">
                                    <label class="Text-cloer form-label">Giới Tính: </label>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <div class="form-line m-4">
                                            <input
                                                    th:field="*{gender}"
                                                    type="radio"
                                                    th:value="true"
                                                    name="gender"
                                                    id="male"
                                                    style="margin: 20px"
                                                    th:tabindex="8"
                                            />
                                            <label class="Text-cloer"> Nam</label>
                                            <input
                                                    th:field="*{gender}"
                                                    th:value="false"
                                                    type="radio"
                                                    id="female"
                                                    name="gender"
                                                    style="margin: 20px"
                                            />
                                            <label class="Text-cloer"> Nữ </label>
                                        </div>
                                        <div class="form-text text-danger" th:if="${#fields.hasErrors('gender')}"
                                             th:errors="*{gender}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-4" hidden="hidden">
                                <label for="description" class="Text-cloer form-label">account_id </label>
                            </div>
                            <div class="col-8" hidden="hidden">
                                <input
                                        th:field="*{account}"
                                        type="text"
                                        class="form-control"

                                        aria-describedby="descriptionError"
                                />

                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="description" class="Text-cloer form-label">Số Điện Thoại </label>
                            </div>
                            <div class="col-8">
                                <input
                                        th:field="*{phone}"
                                        type="text"
                                        class="form-control"

                                        aria-describedby="descriptionError"
                                />

                                <div class="text-danger form-text" th:if="${#fields.hasErrors('phone')}"
                                     th:errors="*{phone}"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="description" class="Text-cloer form-label"> Ngày Sinh</label>
                            </div>
                            <div class="col-8">
                                <input
                                        th:field="*{birthday}"
                                        type="date"
                                        class="form-control"
                                        aria-describedby="descriptionError"
                                />
                                <div class="form-text text-danger" th:if="${#fields.hasErrors('birthday')}"
                                     th:errors="*{birthday}"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="description" class="Text-cloer form-label">Email </label>
                            </div>
                            <div class="col-8">
                                <input
                                        th:field="*{email}"
                                        type="email"
                                        class="form-control"
                                        id="description"
                                        aria-describedby="descriptionError"
                                />

                                <div class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-4 divider my-1"></div>
                            <div class="col-4">
                                <button type="submit" class="bn29">Tạo mới thành viên</button>
                            </div>
                            <div class="col-4 divider my-3">
                                <a th:href="@{/admin/listCoach}" class="bn29"
                                   style="text-decoration: none !important"> quay lại </a>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>