<!DOCTYPE html>
<html lang="en">
<head th:include="/admin/index :: head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
  />
  <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
  ></script>
  <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
  ></script>
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous"
  />
  <script
          src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"
  ></script>
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
          crossorigin="anonymous"
  ></script>
</head>
<body>
<div th:replace="/admin/index::aside"></div>
<div class="container-fluid bg-form">
  <div class="row m-4 d-flex">
    <div class="container-fluid">
      <div class="row d-flex justify-content-center ">
        <div class="col-2"></div>
        <div class="col-8 p-3 shadow bo-der shadow-lg rounded-3 my-5 bg-white d-block justify-content-center">
          <h1 class="mt-2 mb-3 py-2 text-center Text-cloer ">THÊM MỚI LỚP HỌC </h1>
          <form th:action="@{/admin/saveClass}" th:object="${class}" method="post">
            <input type="text" th:field="*{classId}" hidden="hidden">
            <div class="row mb-3 divder my-5">
              <div class="col-4">
                <label class="Text-cloer form-label Text-cloer">Nhập số lượng học viên của lớp
                  học </label>
              </div>
              <div class="col-8">
                <input
                        type="text"
                        class="form-control"
                        aria-describedby="nameError"
                        th:field="*{capacity}"
                />
                <!--                <div class="form-text text-danger"-->
                <!--                     th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">-->
                <!--                </div>-->
                <!--                <p style="color: red" th:if="${messageErrorUserName} != null"><span th:text="${messageErrorUserName}"></span></p>-->

              </div>
            </div>

            <div class="row mb-3 divder my-5">
              <div class="col-4">
                <label class="Text-cloer form-label Text-cloer">Nhập Tên Class</label>
              </div>
              <div class="col-8">
                <input
                        type="text"
                        class="form-control"
                        aria-describedby="nameError"
                        th:field="*{className}"
                />
                <!--                <div class="form-text text-danger"-->
                <!--                     th:if="${#fields.hasErrors('password')}" th:errors="*{password}">-->
                <!--                </div>-->

              </div>

            </div>

            <div class="row mb-3 divder my-5">
              <div class="col-4">
                <label class="form-label Text-cloer form-label Text-cloer">Chọn huấn luyện viên cho lớp
                  học : </label>
              </div>
              <div class="col-8">
                <select th:field="*{coach}" required>
                  <option th:each="acc : ${listCoach}"
                          th:value="${acc.coachId}"
                          th:text="${acc.nameCoach}"></option>
                </select>
                <!--                <div class="form-text text-danger"-->
                <!--                     th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}">-->
                <!--                </div>-->
              </div>
            </div>

            <div class="row mb-3 divder my-5">
              <div class="col-4">
                <label class="Text-cloer form-label Text-cloer">Ngày mở lớp</label>
              </div>
              <div class="col-8">
                <input
                        type="date"
                        class="form-control"
                        aria-describedby="nameError"
                        th:field="*{startDate}"
                />
                <!--                <div class="form-text text-danger"-->
                <!--                     th:if="${#fields.hasErrors('nameCoach')}" th:errors="*{nameCoach}">-->
                <!--                </div>-->
              </div>
            </div>


            <div class="row mb-3 divder my-5">
              <div class="col-4">
                <label class="Text-cloer form-label Text-cloer">Ngày kết thúc lớp</label>
              </div>
              <div class="col-8">
                <input
                        type="date"
                        class="form-control"
                        aria-describedby="nameError"
                        th:field="*{endDate}"
                />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-4 divider my-1"></div>
              <div class="col-4">
                <button type="submit" class="bn29">Cập nhật lớp</button>
              </div>
              <div class="col-4 divider my-3">
                <a th:href="@{/admin/listCoach}" class="bn29"
                   style="text-decoration: none !important"> quay lại </a>
              </div>
              <div class="col-2"></div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>