<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="coach/indexCoach :: head">


</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside style="position:fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            border-right: 1px solid #162636;
            height: 100%;" class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="../../index3.html" class="brand-link">
            <!--            <img src="" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
            <span class="brand-text font-weight-light">Coach</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <!--                    <img src="" class="img-circle elevation-2" alt="User Image">-->
                </div>
                <div class="info">
                    <a href="#" class="d-block">Xin Chào Coach!!!</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->


            <!-- Sidebar Menu -->
            <nav th:replace="coach/indexCoach :: nav" class="mt-2"></nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Danh sách lớp</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Danh sách lớp</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 20%">
                                #ID
                            </th>
                            <th scope="col" style="width: 20%">
                                Chủ nhiệm
                            </th>
                            <th scope="col" style="width: 20%">
                                Số lượng học viên
                            </th>
                            <th scope="col" style="width: 20%">
                                Tên lớp
                            </th>
                            <th>
                                Chức năng
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="class: ${classList}" th:object="${class}">
                            <th scope="row" style="padding: 12px" th:text="*{classId}">
                                <a></a>
                            </th>
                            <td style="padding-left: 12px" th:text="${class.coach.nameCoach}">
                                <a></a>
                            </td>
                            <td th:text="${class.playerSet.size()}+'/'+${class.capacity}">
                                <a></a>
                            </td>
                            <td th:text="${class.className}">
                                <a> </a>
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm"
                                   th:href="@{/coach/memberClass/{id}(id=${class.classId})}">
                                    <i class="fas fa-eye"></i>
                                    Thành viên
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="coach/indexCoach :: footer" class="main-footer"></footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>

</body>
</html>
