<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="coach/indexCoach :: head">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->

    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside style="position:fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            border-right: 1px solid #162636;
            height: 100%;" class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="../../index3.html" class="brand-link">
            <!--            <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"-->
            <!--            style="opacity: .8">-->
            <span class="brand-text font-weight-light">Coach</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <!--                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->


            <!-- Sidebar Menu -->
            <nav th:replace="coach/indexCoach :: nav">
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Danh sách học viên lớp</h1>

                        <div class="row m-4 d-flex">
                            <h1 style="color: #00b44e" th:if="${message} != null"><span th:text="${message}"></span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Danh sách học viên lớp</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Danh sách học viên lớp</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0" style="overflow-x: scroll">
                    <table class="table table-striped projects">
                        <thead>
                        <tr class="text-center" style="white-space: nowrap">
                            <th style="width: 12%">
                                #ID
                            </th>
                            <th style="width: 12%">
                                Ảnh
                            </th>
                            <th style="width: 12%">
                                Username
                            </th>
                            <th style="width: 12%">
                                Tên học viên
                            </th>
                            <th style="width: 12%">
                                BirthDay
                            </th>
                            <th style="width: 12%">
                                Chiều cao
                            </th>
                            <th style="width: 12%">
                                Cân nặng
                            </th>
                            <th style="width: 12%">
                                SĐT cha mẹ
                            </th>
                            <th>
                                menu
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="player : ${playerList}" class="text-center" style="white-space: nowrap">
                            <td th:text="${player.playerId}">
                                <a></a>
                            </td>
                            <td>
                                <img th:src="@{${player.avatar}}" style="width: 50px; height: 50px; object-fit: cover">
                                <!--                                <img src="https://top10dienbien.com/wp-content/uploads/2022/10/avatar-cute-11.jpg">-->
                            </td>
                            <td th:text="${player.account.accountName}">
                                <!--                                <a>nguyenhoanghuy</a>-->
                            </td>
                            <td th:text="${player.name}">
                                <!--                                <a>Nguyễn Hoàng huy</a>-->
                            </td>
                            <td th:text="${player.birthday}">
                                <!--                                <a>01/01/2001</a>-->
                            </td>
                            <td th:text="${player.height}  + ' cm'">
                                <!--                                <a>1.7 mét</a>-->
                            </td>
                            <td th:text="${player.weight} + ' kg'">
                                <!--                                <a>80 kg</a>-->
                            </td>
                            <td th:text="${player.parentPhone}">
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm"
                                   th:href="@{/coach/ratingStudent/{id}(id=*{player.playerId})}">
                                    <i class="fa fa-edit"></i>
                                    Đánh giá
                                </a>

                                <a class="btn btn-info btn-sm"
                                   th:href="@{/coach/historyRating/{id}(id=*{player.playerId})}">
                                    <i class="fas fa-eye"></i>
                                    Lịch sử
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="coach/indexCoach :: footer" class="main-footer"></footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<!-- <script src="../../plugins/jquery/jquery.min.js"></script> -->
<!-- Bootstrap 4 -->
<!-- <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<!-- AdminLTE App -->
<!-- <script src="../../dist/js/adminlte.min.js"></script> -->
<!-- AdminLTE for demo purposes -->
<!-- <script src="../../dist/js/demo.js"></script> -->
<!-- <script src="../../plugins/daterangepicker/daterangepicker.js"></script> -->

</body>
</html>
